@model List<ProgressWebApplication.Models.Marks>
@{
    ViewData["Title"] = "Marks";
}

<h1>Marks Table</h1>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th><h2>Course Code</h2></th>
        <th><h2>Mid1</h2> </th>
        <th><h2>Mid2</h2> </th>
        <th><h2>A1</h2> </th>
        <th><h2>A2</h2> </th>
        <th><h2>A3</h2> </th>
        <th><h2>A4</h2> </th>
        <th><h2>Final</h2> </th>

    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td><h3>@d.Code</h3></td>
            <td><h3>@d.Mid1</h3></td>
            <td><h3>@d.Mid2</h3></td>
            <td><h3>@d.A1</h3></td>
            <td><h3>@d.A2</h3></td>
            <td><h3>@d.A3</h3></td>
            <td><h3>@d.A4</h3></td>
            <td><h3>@d.Final</h3></td>


        </tr>
    }
</table>